@tailwind base;
@tailwind components;
@tailwind utilities;

#particle-slider {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-position: center top;

    .slides,
    &>.dg {
        display: none;
    }
}

@media (min-width: 1000px) {
    body {
        background-repeat: no-repeat;

        &>.dg {
            display: block;
        }
    }
}

body {
    overflow-x: hidden;
    margin: 0;
    background-color: black;
    color: #fff;
    font-family: 'radikalRegular', Helvetica, Arial, sans-serif;
    src: url(radikal-font-family-1694810713-0/RadikalTrial-Regular-BF642254c157251.otf) format("opentype");
}

.underline-trans::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #F16522;
    transform: scaleX(0);
    transition: transform 0.1s ease;
}

.underline-trans:hover:before {
    transform: scaleX(1);
}


#purple-btn::after {
    content: '→';
    position: absolute;
    top: center;
    left: 102%;

    transition: left 0.3s ease;
}

.group1:hover #purple-btn::after {
    left: 109%;
}


@media screen and (min-width: 768px) {
    .d-ltr {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "text img";
    }

    .g-img {
        grid-area: img;
    }

    .g-text {
        grid-area: text;
    }

    #main-content {
        transition: background-color 0.4s ease;
    }

    [data-state] {
        transition: all 1s ease .2s;
    }

    [data-state="closed"] {
        opacity: 0;
        transform: translateY(100%);
    }

    [data-state="open"] {
        opacity: 1;
        transform: translateY(0);
    }
}